<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhz.hongbaoapp.mapper.AccountMapper">
    <resultMap type="Account" id="account">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="money" property="money" />
    </resultMap>

    <insert id="save" parameterType="account">
        INSERT INTO account (user_id,money) VALUES (#{userId},#{money})
    </insert>
    <select id="selectByUserId" resultType="account">
        SELECT * FROM user where user_id = #{userId}
    </select>
    <update id="updateMoney">
        UPDATE user SET money=#{money} WHERE user_id=#{userId}
    </update>
</mapper>