<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhz.hongbaoapp.mapper.HongBaoMapper">
    <insert id="insertHongBao" parameterType="HongBao">
        INSERT into hongbao (roomName,roomID,roomPassword,amount,money,punishRanking,rate) VALUES (#{roomName},#{roomID},#{roomPassword},#{amount},#{money},#{punishRanking},#{rate})
    </insert>
    <select id="SelectByUsername" resultType="User">
        select * from user where username = #{username}
    </select>
</mapper>